body{
    background-image:url(/imagenes/fn.jpg)
 }
 
 h1{
     color:brown ;
     text-align: center;
     font-size: 36px;
     font-family:Verdana, Geneva, Tahoma, sans-serif
 }
 
 p{
     color: black;
     text-align: center;
     font-size: 23px;
     margin-left: 10%;
     margin-right: 10%;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 
 table{
     border: #ccc;
     margin: auto;
 }
 .image{
     width: 300px;
     border-radius: 10px;
     border: 1px solid #ccc;
 }
 
 .image:hover{
     transform: scale(1.2);
 }
.escoce{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}
